* {
    box-sizing: border-box;
  }


body {
  font-family: Arial;
  font-size: 17px;
}

.container-left {
  /* position: relative; */
  max-width: 800px;
  margin: 0;
}

.container-right {
    /* position: relative; */
    max-width: 800px;
    margin: 0;
  }

.container img {vertical-align: middle;}

.container .content {
  position: relative;
  bottom: 0;
  background-color: black;
  /* background: rgb(0, 0, 0); Fallback color */
  /* background: rgba(0, 0, 0, 0.5); Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

h1,p {
    color: #ffffff;
}



.section-header {
    margin-bottom: 60px;
    position: relative;
    padding-bottom: 20px;
  }
  
  .section-header::before {
    content: '';
    position: absolute;
    display: block;
    width: 60px;
    height: 5px;
    background: #f82249;
    bottom: 0;
    left: calc(50% - 25px);
  }
  
  .section-header h2 {
    font-size: 36px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
  }
  
  .section-header p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
  }
  